* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%;
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px;
}

/* style p and h1 h3 size*/
/* give player 1 and player 2 divs height */
/* give p5 canvas div height and width */
/* give bottom divs width and height */
/* give last guess div width and height and center content*/
/* give buttons and guesses div width and center content */
/* give win/loss div height and width */
/* restart button height width and color, center text */